n8n-workflows/ela-workflow.json
{
    "name": "ELA Reading Comprehension",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -320,
          -32
        ],
        "id": "5900d9d2-7eaa-435a-88c2-55bafe21df3c",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -112,
          -32
        ],
        "id": "a52d8f0d-8f68-477d-b2aa-f17091c88887",
        "name": "Start"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Please generate ELA reading comprehension question for student along with 4 choices for answer. One of the choices is correct and other 3 are not.\nAlso provide correct choise.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a an ELA Teacher who helps students with ELA reading comprehension.\n\nProvide a reading comprehension paragraph and question to answer on that paragraph along with 4 choices and correct Answer choice."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          96,
          -32
        ],
        "id": "7525653b-de4f-4993-99e3-e988ca1ef505",
        "name": "AI Agent",
        "retryOnFail": true
      },
      {
        "parameters": {
          "model": "qwen3-coder:480b",
          "options": {
            "temperature": 0.7,
            "topK": -1,
            "topP": 1,
            "frequencyPenalty": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          -48,
          176
        ],
        "id": "12c6392b-b6aa-40fd-9e9b-856c1ec8a98a",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "SgxwVzOjy8JhEiTf",
            "name": "OLLAMA CLOUD"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"ReadingComprehensionQuestion\",\n  \"type\": \"object\",\n  \"required\": [\"paragraph\", \"question\", \"choices\", \"correctAnswer\"],\n  \"properties\": {\n    \"id\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"Optional identifier for the question\"\n    },\n    \"paragraph\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"Emoji infused markdown formatted paragraph the student must read\"\n    },\n    \"question\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"Question about the paragraph\"\n    },\n    \"choices\": {\n      \"type\": \"object\",\n      \"required\": [\"ChoiceA\", \"ChoiceB\", \"ChoiceC\", \"ChoiceD\"],\n      \"properties\": {\n        \"ChoiceA\": { \"type\": \"string\", \"minLength\": 1 },\n        \"ChoiceB\": { \"type\": \"string\", \"minLength\": 1 },\n        \"ChoiceC\": { \"type\": \"string\", \"minLength\": 1 },\n        \"ChoiceD\": { \"type\": \"string\", \"minLength\": 1 }\n      },\n      \"additionalProperties\": false,\n      \"description\": \"Four answer choices\"\n    },\n    \"correctAnswer\": {\n      \"type\": \"string\",\n      \"enum\": [\"ChoiceA\", \"ChoiceB\", \"ChoiceC\", \"ChoiceD\"],\n      \"description\": \"Key name of the correct choice\"\n    }\n  },\n  \"additionalProperties\": false\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          272,
          176
        ],
        "id": "d9f107fd-1cf1-4c68-9982-e44bf7f273b8",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "path": "ela-reading-comprehension",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -336,
          240
        ],
        "id": "81b92eb5-fc68-4838-bb66-e613443e74e7",
        "name": "Webhook",
        "webhookId": "0b4b9d95-8ff9-4fac-944c-941c7a35fa7c",
        "credentials": {
          "httpHeaderAuth": {
            "id": "t6wdFM3XAcEpWchz",
            "name": "N8N WEBHOOK AUTH"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          704,
          -32
        ],
        "id": "2ea83271-c81d-4bec-860f-c81eb36be70e",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4f55b961-b426-437e-a0c2-c027427f6b0b",
                "name": "paragraph",
                "value": "={{ $json.output.paragraph }}",
                "type": "string"
              },
              {
                "id": "e42bd910-eb2e-48a7-95a8-287ffff3b9ac",
                "name": "question",
                "value": "={{ $json.output.question }}",
                "type": "string"
              },
              {
                "id": "8ebf962a-8d88-435e-8e61-b31709bfe949",
                "name": "choices",
                "value": "={{ $json.output.choices }}",
                "type": "object"
              },
              {
                "id": "28e10438-612c-4bb0-808f-240c1658d2a5",
                "name": "correctAnswer",
                "value": "={{ $json.output.correctAnswer }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          -32
        ],
        "id": "fe1b8ebf-24e1-4296-a133-cd78ff31b11b",
        "name": "Edit Fields"
      }
    ],
    "pinData": {
      "Webhook": [
        {
          "json": {
            "headers": {
              "host": "picked-instantly-jaybird.ngrok-free.app",
              "user-agent": "node",
              "accept": "*/*",
              "accept-encoding": "br, gzip, deflate",
              "accept-language": "*",
              "cache-control": "no-cache",
              "pragma": "no-cache",
              "sec-fetch-mode": "cors",
              "x-api-key": "n8n-wh-XKoV4tzYOPBSxo-qCISdI76qvUuN1voIMNStF7EtQZU",
              "x-forwarded-for": "2600:4040:7979:a00:fd68:4f5a:ff94:44eb",
              "x-forwarded-host": "picked-instantly-jaybird.ngrok-free.app",
              "x-forwarded-proto": "https"
            },
            "params": {},
            "query": {},
            "body": {},
            "webhookUrl": "https://picked-instantly-jaybird.ngrok-free.app/webhook/ela-reading-comprehension",
            "executionMode": "production"
          },
          "pairedItem": {
            "item": 0
          }
        }
      ]
    },
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Start",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Start",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "3ffe7e16-77ab-42c5-81ca-71a79037fd7d",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a9940ddfe644fe683b02ad49a0358fcb64ed268ef3321de2d077e8eb0cc60e6c"
    },
    "id": "sHPJW6PxBDT66VAj",
    "tags": []
  }